@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
.primaryButton {
  min-width: 115px;
  height: 36px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0px 16px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primaryButton:hover {
  background-color: #242424;
}

.primaryButton {
  min-width: 115px;
  height: 36px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0px 16px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primaryButton:hover {
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --max-w: 900px;
  --accent: #0f172a;
  --muted: #6b7280;
  --gap: 1rem;
  --radius: 12px;
  --pad: 24px;
  --pico-font-size: 14px;
}

html,
body {
  font-size: 14px;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  color: #333;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

/* --- 2. Tablet/Medium Screens (e.g., 768px and up) --- */
@media screen and (min-width: 768px) {
  body {
    font-size: 14px; /* Slightly larger font for tablets */
  }
}
/* --- 3. Desktop/Large Screens (e.g., 1200px and up) --- */
@media screen and (min-width: 1200px) {
  body {
    font-size: 14px; /* Larger font for desktop monitors */
  }
}
/* Base setup */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  margin: 1.2em 0 0.5em;
  line-height: 1.3;
  color: #111;
}

h1 {
  font-size: 2rem;
  /* 28px */
  font-weight: 700;
  /* Bold */
}

h2 {
  font-size: 1.714rem;
  /* ~24px */
  font-weight: 600;
  /* Semi Bold */
}

h3 {
  font-size: 1.429rem;
  /* ~20px */
  font-weight: 600;
}

h4 {
  font-family: "Inter", sans-serif;
  margin: 1.2em 0 0.5em;
  line-height: 1.3;
  font-size: 22.4px;
  font-weight: 500;
  letter-spacing: -0.448px;
  color: #2d3347;
}

h5 {
  font-size: 1.071rem;
  /* ~15px */
  font-weight: 500;
  margin: 0;
}

h6 {
  font-size: 1rem;
  /* 14px */
  font-weight: 500;
}

/* Headings */
p {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  color: #2d3347;
  margin: 0;
  font-size: 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
blockquote {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 4px solid #ccc;
  color: #5a5d70;
}

/* Blockquotes */
code {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
  background-color: #f8f9fa;
  padding: 0.5em;
  border-radius: 4px;
}

/* Code and Preformatted Text */
hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.5em 0;
}

/* Horizontal Rule */
img {
  max-width: 100%;
  height: auto;
}

li {
  color: #5a5d70;
}

select,
input {
  margin: 0;
  max-height: 36px;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-right: 31px;
  padding-left: 12px;
  font-size: 13px;
  width: 200px;
  box-shadow: none;
}
select:active,
input:active {
  border: 1px solid gray;
}
select:focus,
input:focus {
  box-shadow: none;
  border: 1px solid #d5d5d5;
}

/* Base setup */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  margin: 1.2em 0 0.5em;
  line-height: 1.3;
  color: #111;
}

h1 {
  font-size: 2rem;
  /* 28px */
  font-weight: 700;
  /* Bold */
}

h2 {
  font-size: 1.714rem;
  /* ~24px */
  font-weight: 600;
  /* Semi Bold */
}

h3 {
  font-size: 1.429rem;
  /* ~20px */
  font-weight: 600;
}

h4 {
  font-family: "Inter", sans-serif;
  margin: 1.2em 0 0.5em;
  line-height: 1.3;
  font-size: 22.4px;
  font-weight: 500;
  letter-spacing: -0.448px;
  color: #2d3347 #2d3347;
}

h5 {
  font-size: 1.071rem;
  /* ~15px */
  font-weight: 500;
  margin-top: 0;
  margin: 0;
}

h6 {
  font-size: 1rem;
  /* 14px */
  font-weight: 500;
}

/* Headings */
p {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0.5em 0;
  line-height: 1.6;
  color: #2d3347;
  margin: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
blockquote {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 4px solid #ccc;
  color: #5a5d70;
}

/* Blockquotes */
code {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
  background-color: #f8f9fa;
  padding: 0.5em;
  border-radius: 4px;
}

/* Code and Preformatted Text */
hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.5em 0;
}

/* Horizontal Rule */
img {
  max-width: 100%;
  height: auto;
}

li {
  color: #5a5d70;
}

.layout {
  display: grid;
  grid-template-columns: 250px auto;
  /* top menu row fixed at 56px and content row takes remaining height */
  grid-template-rows: 56px 1fr;
  /* fill the viewport so the page container doesn't naturally scroll */
  height: 100vh;
}

.topMenu {
  grid-row: 1/2;
  grid-column: 2/3;
  border-bottom: 1px solid rgb(235, 235, 235);
  height: auto;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
}
.topMenu select,
.topMenu input {
  margin: 0;
  border-radius: 1000PX;
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.system-status {
  height: 30px;
  font-size: 13px;
  background-color: hsl(141, 84%, 93%);
  color: hsl(142, 72%, 29%);
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-radius: 1000px;
}
.system-status__circle {
  width: 8px;
  height: 8px;
  border-radius: 1000px;
  background-color: hsl(142, 71%, 45%);
}

.right {
  display: flex;
  align-items: center;
  gap: 8px;
}
.right__cfa {
  margin-left: 16px;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border: 1px solid #cacaca;
  transition: img transform 0.3s ease;
  overflow: hidden;
}
.right__cfa a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.right__cfa i {
  font-size: 20px;
  transition: img transform 0.3s ease;
}
.right__cfa img {
  display: none;
  transition: img transform 0.3s ease;
}
.right__cfa:hover {
  cursor: pointer;
}
.right__cfa:hover i {
  display: none;
  transition: img transform 0.3s ease;
}
.right__cfa:hover img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 1000px;
  transition: img transform 0.3s ease;
}

.user-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
}
.user-details p {
  margin: 0;
}
.user-details__avatar {
  width: 36px;
  height: 36px;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 1000px;
  overflow: hidden;
}

.leftMenu {
  grid-column: 1/2;
  grid-row: 1/3;
  height: 100%;
  background-color: hsl(158, 23%, 91%);
}

.logo {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 0 16px;
}
.logo i {
  font-size: 20px;
}

.menu-items ul {
  padding: 0 16px;
  padding-top: 16px;
}
.menu-items li {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  margin: 0;
  transition: background-color 0.5s ease;
  border-radius: 4px;
}
.menu-items li:hover {
  background-color: hsl(159, 22%, 77%);
  cursor: pointer;
}
.menu-items li.current {
  background-color: hsl(159, 22%, 77%);
}

.appContainer {
  background-color: #FAFAFA;
  grid-column: 2/3;
  grid-row: 2/3;
  /* allow children to manage scrolling within this cell */
  min-height: 0;
  height: 100%;
  overflow: hidden;
  /* make the immediate content wrapper a column flex so title + cards
     can stack and `.cards` can take the remaining space */
}
.appContainer > div {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.titleComponent {
  background-color: #ffffff;
  padding: 16px 24px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.titleComponent h4 {
  margin: 0;
}
.titleComponent__left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.titleComponent__left i {
  font-size: 20px;
  padding-top: 3px;
}
.titleComponent__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.indicator {
  --value-bg-color: gray;
  --value-text-color: #ffffff;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(212, 212, 212);
  padding: 0 12px;
  border-radius: 4px;
  gap: 16px;
  font-size: 14px;
}
.indicator p {
  margin: 0;
  color: rgb(114, 106, 106);
  font-size: 13px;
}
.indicator__value {
  min-width: 50px;
  padding: 2px 8px;
  background-color: var(--value-bg-color);
  color: var(--value-text-color);
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicator--green {
  --value-bg-color: hsla(104, 50%, 85%, 1);
  --value-text-color: hsla(104, 50%, 25%, 1);
}
.indicator--red {
  --value-bg-color: hsla(0, 70%, 85%, 1);
  --value-text-color: hsla(0, 70%, 25%, 1);
}
.indicator--yellow {
  --value-bg-color: hsla(45, 100%, 85%, 1);
  --value-text-color: hsla(45, 100%, 25%, 1);
}
.indicator--gray {
  --value-bg-color: gray;
  --value-text-color: #ffffff;
}

.cardsTitle {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardsTitle h5 {
  margin: 0;
}
.cardsTitle_left {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.cardsTitle_right {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.cardsTitle_right input {
  border-radius: 3px;
}
.cardsTitle input,
.cardsTitle select {
  margin: 0;
}
.cardsTitle button {
  margin: 0;
}

.cardsContainer {
  /* allow only vertical scrolling inside the cards area and grow to fill
       the remaining space in the flex column so we can scroll internally */
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: min-content;
  gap: 16px;
  padding: 16px;
  padding-top: 0;
  /* make the scrollbar visible and easy to notice across browsers */
  position: relative;
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.18) transparent;
  /* Firefox */
}
.cardsContainer::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
.cardsContainer::-webkit-scrollbar-track {
  background: transparent;
}
.cardsContainer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  border: 3px solid transparent;
  /* creates a gutter so thumb doesn't overlay content */
  background-clip: padding-box;
}

.card {
  --header-background-color: #ffffff;
  --header-border-color: gray;
  --icon-border-color: gray;
  --icon-background-color: #e3e3e3;
  border: 1px solid #cacaca;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  height: min-content;
  overflow: hidden;
  background-color: #ffffff;
}
.card_heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-bottom: 1px solid #cacaca;
  background-color: var(--header-background-color);
  transition: background-color 0.5s ease;
}
.card_heading h5 {
  margin: 0;
}
.card_icon {
  border: 1px solid #cacaca;
  background-color: var(--icon-background-color);
  width: 32px;
  height: 32px;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  font-size: 13px;
}
.card_links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
  grid-template-rows: auto;
  gap: 1px;
}
.card_links div {
  height: 40px;
  outline: 1px solid rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 16px;
  color: gray;
}

.card--gp {
  --icon-border-color: #F1DC8E;
  --icon-background-color: #FBF5DF;
}
.card--gp:hover {
  --header-background-color: #FBF5DF;
  --header-border-color: #FBF5DF;
}

.card--lp {
  --icon-border-color: #85F09C;
  --icon-background-color: #DFFBE5;
}
.card--lp:hover {
  --header-background-color: #DFFBE5;
  --header-border-color: #DFFBE5;
}

/*# sourceMappingURL=app.css.map */
