@mixin headingSmall {
    font-size: 14px;
    font-weight: 500;
}

@mixin headingMedium {
    font-size: 16px;
    font-weight: 600;
}

@mixin headingLarge {
    font-size: 24px;
    font-weight: 700;
}

@mixin primaryButton {
    min-width: 115px;
    height: 36px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0px 16px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #242424;
    }
}

$app-border: #cacaca;
$background-white: #ffffff;