.topMenu {
    grid-row: 1/2;
    grid-column: 2/3;
    border-bottom: 1px solid rgb(235, 235, 235);
    height: auto;
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;

    select,
    input {
        margin: 0;
        border-radius: 1000PX;

    }
}

.left-content {
    display: flex;
    align-items: center;
    gap: 16px;
}

.system-status {
    height: 36px;
    background-color: hsla(141, 84%, 93%, 1);
    color: hsla(142, 72%, 29%, 1);
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-radius: 1000px;

    &__circle {
        width: 8px;
        height: 8px;
        border-radius: 1000px;
        background-color: hsla(142, 71%, 45%, 1)
    }
}

.right-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-left: 16px;

    p {
        margin: 0;
    }

    &__avatar {
        width: 36px;
        height: 36px;
        border-radius: 1000px;
        background-color: hsla(104, 50%, 85%, 1);
        display: flex;
        justify-content: center;
        align-items: center;

    }
}