.titleComponent {
    padding: 16px 24px;
    border-bottom: 1px solid rgb(214, 214, 214);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        margin: 0;
    }

    &__left {

        display: flex;
        align-items: center;
        gap: 8px;

        i {
            font-size: 20px;
            padding-top: 3px;
        }

    }

    &__right {

        display: flex;
        align-items: center;
        gap: 16px;



    }
}