@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-w: 900px;
    --accent: #0f172a;
    --muted: #6b7280;
    --gap: 1rem;
    --radius: 12px;
    --pad: 24px;
    --pico-font-size: 14px
}

html,
body {
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
    color: #333;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

.primaryButton {
    @include primaryButton;
}