@use 'app-variables' as hbo;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pico-font-size: 14px;
}

html,
body {
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    color: hbo.$text-hiest-emphasis;
}







/* Base setup */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    margin: 1.2em 0 0.5em;
    line-height: 1.3;

    color: hbo.$text-hiest-emphasis;

}

h1 {
    font-size: 2rem;
    /* 28px */
    font-weight: 700;
    /* Bold */
}

h2 {
    font-size: 1.714rem;
    /* ~24px */
    font-weight: 600;
    /* Semi Bold */
}

h3 {
    font-size: 1.429rem;
    /* ~20px */
    font-weight: 600;
}

h4 {
    font-family: 'Inter', sans-serif;
    margin: 1.2em 0 0.5em;
    line-height: 1.3;
    font-size: 22.4px;
    font-weight: 500;
    letter-spacing: -0.448px;
    color: #2d3347 ;
}

h5 {
    font-size: 1.071rem;
    /* ~15px */
    font-weight: 500;
    margin: 0;
}

h6 {
    font-size: 1rem;
    /* 14px */
    font-weight: 500;
}

/* Headings */
p {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    margin: 0;
    font-size: 1rem;
    color: hbo.$text-medium-emphasis;


}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Lists */
blockquote {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #ccc;
    color: #5a5d70;
}

/* Blockquotes */
code {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
    background-color: #f8f9fa;
    padding: 0.5em;
    border-radius: 4px;
}

/* Code and Preformatted Text */
hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1.5em 0;
}

/* Horizontal Rule */
img {
    max-width: 100%;
    height: auto;
}

li {
    color: #5a5d70;

}



