@import 'appVariables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-w: 900px;
    --accent: #0f172a;
    --muted: #6b7280;
    --gap: 1rem;
    --radius: 12px;
    --pad: 24px;
    --pico-font-size: 14px
}

html,
body {
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
    color: #333;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

.primaryButton {
    @include primaryButton;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --pico-font-weight: 600;
}

select,
input {
    margin: 0;
    max-height: 36px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-right: 31px;
    padding-left: 12px;
    font-size: 13px;
    width: 200px
}