<div class="logo">
    <img src="images/Holtara Logo.svg" alt="" />
    <i class="ph ph-x"></i>
</div>
<div class="menu-items">
    <ul>
        <li class="li current">
            <i class="ph ph-house"></i><a href="../index.html">Gome</a>
        </li>
        <li class="li current">
            <i class="ph ph-house"></i><a href="../dashboard.html">Dashboard</a>
        </li>

        <li><i class="ph ph-house"></i>Assignment</li>
        <li><i class="ph ph-house"></i>System admin</li>
        <li><i class="ph ph-house"></i>Data</li>
        <li><i class="ph ph-house"></i>System admin</li>
        <li><i class="ph ph-house"></i>Navigations</li>
    </ul>
</div>
