<div class="topMenu">
    <div class="left">
        <div>
            <div class="system-status">
                <div class="system-status__circle"></div>
                <div>Dev Server</div>
            </div>
        </div>
    </div>
    <div class="right">
        <div>
            <select
                name="favorite-cuisine"
                aria-label="Select your favorite cuisine..."
                required
            >
                <option selected disabled value="">History</option>
                <option>Italian</option>
                <option>Japanese</option>
                <option>Indian</option>
                <option>Thai</option>
                <option>French</option>
            </select>
        </div>
        <div>
            <select
                name="favorite-cuisine"
                aria-label="Select your favorite cuisine..."
                required
            >
                <option selected disabled value="">IQ System</option>
                <option>Italian</option>
                <option>Japanese</option>
                <option>Indian</option>
                <option>Thai</option>
                <option>French</option>
            </select>
        </div>
        <div>
            <input
                type="search"
                name="search"
                placeholder="Search"
                aria-label="Search"
            />
        </div>
        <div class="right__cfa">
            <a href="https://holtara.io/" target="_blank">
                <img src="images/globe.gif" alt="" />
                <i class="ph-fill ph-globe-hemisphere-west"></i>
            </a>
        </div>
        <div class="user-details">
            <p>Aravinda Prabath</p>
            <div class="user-details__avatar">
                <img src="images/profile.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
