.cardsTitle {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5 {
        margin: 0;

    }

    &_left {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    &_right {
        display: flex;
        flex-direction: row;
        gap: 16px;

        input {
            border-radius: 3px;
        }
    }

    input,
    select {
        margin: 0;

    }

    button {
        margin: 0;
    }
}