@use 'app-variables' as hbo;

select,
input {
  margin: 0;
  min-height: 36px;
  max-height: 36px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 0 31px 0 12px;
  font-size: 14px;
  width: 200px;
  box-shadow: none;
  color: hbo.$text-medium-emphasis;
  min-width: 250px;


  &:active{
    border :1px solid gray;
  }

  &:focus{
    box-shadow: none;
    border :1px solid #d5d5d5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //--pico-font-weight: 600;
}
